<div class="container py-5">
    <h1>Editing User Profile of <%= @user.first_name == nil ? @user.email : @user.full_name%></h1>
    
    <p></p>
    <%= form_with(url: users_backoffice_profile_path, model: @user, local: true) do |form|%>
        <div class="row gx-lg-5 align-items-left">
            <div class="row g-3 align-items-center">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Change profile photo
                </button>
                <div class="col-form-label col-md-1 col-sm-3 label-align">
                    <%= form.label :first_name, class:"col-form-label"%>
                </div>
                <div class="col-md-3 col-sm-6">
                    <%= form.text_field :first_name, class:"form-control"%>
                </div>
            </div>

            <div class="row g-3 align-items-center">
                <div class="col-form-label col-md-1 col-sm-3 label-align">
                    <%= form.label :last_name, class:"col-form-label"%>
                </div>
                <div class="col-md-3 col-sm-6">
                    <%= form.text_field :last_name, class:"form-control"%>
                </div>
            </div>

            <div class="row g-3 align-items-center">
                <div class="col-form-label col-md-1 col-sm-3 label-align">
                    <%= form.label :email, class:"col-form-label"%>
                </div>
                <div class="col-md-5 col-sm-6">
                    <%= form.text_field :email, class:"form-control", readonly: true%>
                </div>
            </div>

            <%= form.fields_for :user_profile do |profile_form| %>

                <div class="row g-3 align-items-center">
                    <div class="col-form-label col-md-1 col-sm-3 label-align">
                        <%= profile_form.label :address, class:"col-form-label"%>
                    </div>
                    <div class="col-md-5 col-sm-6">
                        <%= profile_form.text_field :address, class:"form-control"%>
                    </div>
                </div>

                <div class="row g-3 align-items-center">
                    <div class="col-form-label col-md-1 col-sm-3 label-align">
                        <%= profile_form.label :gender, class:"col-form-label"%>
                    </div>
                    <div class="col-md-5 col-sm-6">
                        <%= profile_form.radio_button :gender, "M", "data-parsley-multiple":"gender"%> &nbsp; Male &nbsp;
                        <%= profile_form.radio_button :gender, "F", "data-parsley-multiple":"gender"%> &nbsp; Female &nbsp;
                    </div>
                </div>

                <div class="row g-3 align-items-center">
                    <div class="col-form-label col-md-1 col-sm-3 label-align">
                        <%= profile_form.label :birthdate, class:"col-form-label"%>
                    </div>
                    <div class="col-md-5 col-sm-6">
                        <%= profile_form.date_field :birthdate, class:"form-control"%>
                    </div>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Change profile photo</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="row g-3 align-items-center">
                                    <%=image_tag avatar_url, class:"rounded-circle"%>
                                    <div class="col-form-label col-md-1 col-sm-3 label-align">
                                        <%= profile_form.label :avatar %>
                                    </div>
                                    <div class="col-md-5 col-sm-6">
                                        <%= profile_form.file_field :avatar %>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <%= form.submit "Save changes", class:"btn btn-primary" %>
                            </div>
                        </div>
                    </div>
                </div>

            <%end%>

            <div class="row g-3 align-items-center">
                <div class="col-form-label col-md-1 col-sm-3 label-align">
                    <%= form.label :password, class:"col-form-label"%>
                </div>
                <div class="col-md-5 col-sm-6">
                    <%= form.password_field :password, class:"form-control"%>
                </div>
            </div>

                <div class="row g-3 align-items-center">
                <div class="col-form-label col-md-1 col-sm-3 label-align">
                    <%= form.label :password_confirmation, class:"col-form-label"%>
                </div>
                <div class="col-md-5 col-sm-6">
                    <%= form.password_field :password_confirmation, class:"form-control"%>
                </div>
                <div class="col-auto">
                    <span id="passwordHelpInline" class="form-text">
                        Re-enter your password to update.
                    </span>
                </div>

            </div>
        </div>
        <p></p>
        <button type="submit" class="btn btn-primary">Submit</button>
    <%end%>
</div>