<div class="container">
<h1>Questions</h1>

  <table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col" width='100px'>#</th>
        <th scope="col">Questao</th>
        <th scope="col">Assunto</th>
        <th width='50px'><%= link_to 'Novo', new_admins_backoffice_question_path%></th>
      </tr>
    </thead>
    <tbody>
      <% @questions.each do |question|%>
          <tr>
          <th scope="row"><%= question.id%></th>
          <td><%= question.description.truncate(40)%></td>
          <td><%= question.subject.description%></td>
          <!-- transforma id especifico em parametro -->
          <td><%= link_to 'Editar', edit_admins_backoffice_question_path(question)%></td>
          </tr>
      <% end %>
    </tbody>
  </table>
  
  <div class="float-end" ><%= paginate @questions%></div>

</div>
