<h1>Site::Welcome#index</h1>
<p>Find me in app/views/site/welcome/index.html.erb</p>
<%unless params[:term]%>
    <h3>Latest questions</h3>
<%else%>
    <h3>Results for "<%=params[:term]%>":</h3>
<%end%>

<% @questions.each do |question|%>
    <div class="card">
    <div class="card-header">
        Question subject: <%=question.subject.description%>
    </div>
    <div class="card-body">
        <h5 class="card-title"><%= question.description%></h5>
        <p class="card-text">
        <%question.answers.each do |answer|%>
        <li><%=answer.description%></li>            
        <%end%>
        </p>
        <a href="#" class="btn btn-primary">Answer</a>
    </div>
    </div>
<%end%>

<% if user_signed_in? %>
    <p>Usuário logado: <%= current_user.email %></p>
<%else%>
    <p>Usuário não logado</p>
<% end %>

<% if admin_signed_in? %>
    <p>Admin logado: <%= current_admin.email %></p>
    <%= link_to "Backoffice", '/admins_backoffice/welcome/index'%>
<%else%>
    <p>Admin não logado</p>
<% end %>