<h1><%= msg_questions %></h1>
<!--
<% if user_signed_in? %>
    <p>Usuário logado: <%= current_user.email %></p>
<%else%>
    <p>Usuário não logado</p>
<% end %>

<% if admin_signed_in? %>
    <p>Admin logado: <%= current_admin.email %></p>
    <%= link_to "Backoffice", '/admins_backoffice/welcome/index'%>
<%else%>
    <p>Admin não logado</p>
<% end %>
-->

<% @questions.each do |question|%>
    <%= form_with url: site_answer_path do |form|%>
    
        <div class="card">
        <div class="card-header">
            <span class="badge bg-dark">
             <%=link_to "#{question.subject.description} (#{question.subject.questions_count})", site_search_subject_path(question.subject_id, question.subject.description), style:"color: white"%>
            </span>
        </div>
        <div class="card-body">
            <h5 class="card-title"><%= question.description%></h5>
            <p class="card-text">
            <%question.answers.each do |answer|%>

                <div class="form-check">
                    <%= radio_button_tag 'answer_id', answer.id%>
                    <label class="form-check-label" for="flexRadioDefault1">
                        <%=answer.description%> 
                    </label>
                </div>                            
            <%end%>
            </p>
            <%= form.submit "Answer", class:"btn btn-primary", id:"submit_#{question.id}"%>

        </div>
        </div>
    <%end%>
<%end%>

